.whiteBoxContainer{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 88;
    gap: 17px;
    padding-top: 502px;
}

.whiteBox{
    box-sizing: border-box;
    border-radius: 25px;
background: #F3E6E2;
width: 427px;
height: 489px;
flex-shrink: 0;
padding: 110px 65px;
}

.whiteBox h1{
    color: #D52700;
text-align: center;
font-family: "M.F. Plexus Italic";
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 30px; /* 60% */
}

.whiteBox p{
color: #D52700;
text-align: center;
font-family: "Florensa Demo";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 133.333% */
}

.whiteBoxContainer .whiteBox:nth-of-type(2){
    margin-top: 50.05px;
    height: 630px;
}


/* images */
.imageContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 88;
    margin-top: -282px;
}

.imageContainer img:nth-of-type(1){
    position: absolute;
    top: 50px;
}

.imageContainer img:nth-of-type(2){
    position: absolute;
    right: 350px;
}

.imageContainer img:nth-of-type(3){
    position: absolute;
    right: 320px;
    top: 50px;
}