/*--- svg container---*/
.svgContainer{
    position: relative;
    z-index: 4;
    margin-top: 60px;
}

.redSvg{
    z-index: 2;
    position: absolute;
    width: 100%;
}

.redSvg svg{
    width: 100%;
}