/*--- svg container---*/
.svgContainer{
    position: relative;
    z-index: 5;
    padding-top: 270px;
    /* overflow: hidden; */
}

.whiteSvg{
    z-index: 2;
    position: absolute;
    width: 100%;
    /* transform: scale(1.3); */
}

.whiteSvg svg{
    width: 100%;
}