/*--- svg container---*/
.svgContainer{
    position: relative;
    z-index: 3;
    padding-top: 600px;
}

.blackSvg{
    z-index: 2;
    position: absolute;
    width: 100%;
}

.blackSvg svg{
    width: 100%;
}